.movieItem {
    height: 30vh;
    min-width: 16.6667%;
    padding: 35px 10px 10px 10px;
    .item {
        height: 100%;
        border-radius: 6px;
        background-size: cover;
        background-position: center;
        transition: 0.2s linear all;
        transform-origin: bottom;
        &:hover {
            transform: scale(1.2);
            z-index: 333;
            box-shadow: none;
        }
    }
    .active {
        box-shadow: 0 0 10px 3px white;
        position: relative;
        transform: scale(1.1);
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 6px;
            background: rgba($color: #000000, $alpha: 0.2);
        }
    }
}
