.payCard {
    padding: 6px;
    display: flex;
    justify-content: space-around;
    .logoBank {
        padding: 4px;
        width: 25%;
        .img {
            height: 100%;
            background-size: 100%;
            background-position: center;
        }
    }
}
