.seat {
    padding: 0 20px;
    // max-width: 60%;
    .screen {
        padding: 12px;
        color: #f3e5ca;
        margin-top: 10px;
        border: 6px solid black;
        border-bottom: none;
        border-radius: 100%;
        text-align: center;
        box-shadow: 0 -5px 4px 0 white;
    }
    .categories {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 24px;
        & > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .blankSeat,
        .bookingSeat,
        .boughtSeat {
            font-size: 32px;
            margin-right: 12px;
        }
        .bookingSeat {
            color: greenyellow;
        }
        .boughtSeat {
            color: red;
        }
    }
    .seatWrapper {
        padding: 0 30px 30px;
        .standardSeat {
            display: flex;
            flex-direction: column-reverse;
        }
        .row {
            height: 30px;
            display: flex;
        }
    }
}
