.ticketCombo {
    width: 28%;
    padding: 0 16px;
    user-select: none;
    .cinemaName {
        text-align: center;
        color: #f3e5ca;
        margin-bottom: 12px;
    }
    .wrapper {
        border-left: 2px solid salmon;
    }
    .comboWrapper {
        padding-top: 20px;
    }
    .pay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 16px 0 16px;
        position: relative;
        .total {
            color: salmon;
            font-size: 32px;
        }
        .btnBuy {
            font-size: 16px;
            color: white;
            font-weight: bolder;
            padding: 12px 24px;
            border: 2px solid white;
            border-radius: 8px;
            &[disabled] {
                cursor: default;
                color: hotpink;
                border-color: hotpink;
            }
            &:hover ~ .messBtn {
                opacity: 1;
            }
        }
        .messBtn {
            position: absolute;
            top: 6px;
            left: -20px;
            padding: 8px;
            background: hotpink;
            border-radius: 4px;
            opacity: 0;
            transition: 0.2s all linear;
        }
    }
}
