.login {
    width: 32%;
    height: 74%;
    border: 2px solid whitesmoke;
    border-radius: 12px;
    background: black;
    padding: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h1 {
        font-size: 44px;
        text-align: center;
    }
    .insertBox {
        // margin-top: 52px;
        padding-bottom: 8px;
        border-bottom: 1px solid whitesmoke;
        display: flex;
        align-items: center;
        input {
            background: transparent;
            font-size: 18px;
            color: white;
            padding: 8px;
            flex: 1;
        }
        .icon {
            font-size: 30px;
        }
    }
    .checkRemember {
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            margin-right: 8px;
            transform: scale(1.4);
        }
    }
    button {
        padding: 14px;
        font-size: large;
        font-weight: bolder;
        background: white;
        width: 100%;
        border-radius: 50px;
        // margin: 52px 0;
    }
    p {
        text-align: center;
        .link {
            cursor: pointer;
            color: plum;
            text-decoration: none;
            font-weight: bold;
        }
    }
}
