.headerApp {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .logoImg {
        width: 20%;
        text-align: center;
        display: flex;
        justify-content: center;
        .logo {
            padding: 10px;
            background: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            text-shadow: 0 0 5px white;
            .img {
                font-size: 44px;
            }
            .name {
                text-align: center;
                font-size: 40px;
                font-weight: bold;
                padding-left: 10px;
            }
        }
    }
    .navbar {
        flex: 1;
        display: flex;
        padding: 0px 20px;
        align-items: center;
        justify-content: space-around;
        .menuWrapper {
            display: flex;
            .menu {
                padding: 0 20px;
                font-size: 20px;
                font-weight: bold;
                text-shadow: 0 0 5px white;
                &:hover {
                    cursor: pointer;
                    color: salmon;
                }
            }
        }
        .search {
            display: flex;
            background-color: lightgray;
            align-items: center;
            padding: 0 20px;
            border-radius: 40px;
            input {
                width: 260px;
                padding: 12px;
                background: transparent;
            }
            .icon {
                color: white;
                font-size: 20px;
            }
        }
    }
    .btnWrap {
        display: flex;
        width: 20%;
        height: 40px;
        justify-content: flex-start;
        padding-left: 20px;
        .btn {
            padding: 0 18px;
            height: 100%;
            border-radius: 10px;
            font-size: 18px;
            font-weight: bold;
            background: #31285d;
            color: white;
            text-shadow: 0 0 10px white;
            box-shadow: 0 0 10px #31285d;
        }
        .btnRegister {
            background: none;
            box-shadow: none;
            &:hover {
                color: salmon;
            }
        }
        .btnSignin:hover {
            color: salmon;
            background: #411e55;
        }
    }
}
